
h1{
    color:brown;
    background-color:yellow;
}
#login:hover {
    background-color: aquamarine;
}

#login {
    border-radius: 10%;
}



body {
    background-color: aqua;
    display:block;
    width:40%;
    margin:0 auto;
}
.loginForm{
    display:block;
    width:40%;
    margin:auto;
    background-color: chocolate;
}
